<div id="main-wrapper">

    <app-header/>

    <app-sidebar/>

    <div class="page-wrapper">

        <div class="container-fluid">
            <!--BreadCrumbs  -->
            <app-bread-crumbs/>
            <!-- Mi sistema de rutas -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card block.
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2024 Admin Pro by jersonDev.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>

</div>